<div class="container">
    <div class="row">
        <div class="col-lg-4">
        	<h1>サイドバー</h1>
        </div>
        <div class="col-lg-8">
        	
        </div>
    </div>
</div>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<%= link_to "投稿ページへ", new_catalog_path %>


