<%= render "layouts/label" %>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
          <h1>サイドバー</h1>
        </div>
        <%= render "tops/itiran", catalogs: @catalogs %>
    </div>
</div>
