<%= render "layouts/label" %>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
          <%= render "tops/sidebar", users: @users %>
        </div>
        <div class="label-wrapper">
        	<%= render "tops/itiran", catalogs: @catalogs %>
    	</div>
    </div>
</div>
