/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 body{
 	background-color: #f5f5f5;
 }

 .navbar{
 	background-color: #ffffff;
 	margin-bottom: 2px;
 }

 .navbar-shadow{
 	box-shadow: 2px 2px 4px gray;
 }

 .navbar-color{
 	background-color: #ffffff;
 	border-color: #ffffff;
 	color: #000000 !important;
 }

 .navbar-center1{
 	margin-left: 400px !important;
 }

 .navbar-center2{
 	margin-left: 600px !important;
 }

 .navbar-brand{
 	font-size: 25px !important;
 	color: black !important;
 	font-weight: bold;
 }

 .flex{
 	display: flex;
 	flex-flow: row wrap;
 }

 .box{
 	width: 232px;
 	height: 410px;
 	background-color: #ffffff;
 	border-radius: 2px 2px 0 0;
 	margin: 10px;
 }

 .image{
 	width: 232px;
 	height: 310px;
 	border: solid 1px #C0C0C0;
 }

 .like{
 	width: 232px;
 	height: 41px;
 	border-left: solid 1px #C0C0C0;
 	border-right: solid 1px #C0C0C0;
 }

.like a{
 	text-align:center;
 	padding-top:10px;
 	color: black;
}

 .user{
 	width: 232px;
 	height: 59px;
 	border: solid 1px #C0C0C0;
 }

 .user a{
 	text-align:center;
 }

 .user div{
 	line-height: 59px;
 }

li {
  list-style: none;
}

.favorite-color{
	color: #e73554 !important;
}

.img-circle{
	border: solid 1px #C0C0C0;
}

.nav li{
	text-align:center;
	font-size: 20px;
}

#navbarEexample1{
	width: 540px;
	margin-left: 500px;
}

.follow{
	font-size: 1px;
	color: #ffffff;
	background-color: #1e78ad;
	border: 0px !important;
	padding: 3px 4px !important;
}

.user-key{
	font-size: 1px;
}




