<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarEexample1">
      <ul class="nav navbar-nav">
        <li><span class="ALL sex-label sex-label-color">ALL</span></li>
        <li><span class="MEN sex-label">MEN</span></li>
        <li><span class="WOMEN sex-label">WOMEN</span></li>
        <li><span class="KIDS sex-label">KIDS</span></li>
      </ul>
    </div>
  </div>
</nav>